<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
            <h1 style="color: purple">It's a <%= kindOfDay %>! List</h1>
            <% } else { %>
                <h1 style="color: green">It's a <%= kindOfDay %>! List</h1>
            <% } %>
    </body>
</html>